<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalBaGet" value="http://192.168.0.201:5000/v3/index.json" allowInsecureConnections="true" />
    <add key="ABP Nightly Source" value="https://www.myget.org/F/abp-nightly/api/v3/index.json" />

  </packageSources>
<config>

</config>
</configuration>
