<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FixedVersionPath"/>
		<add key="InstallPath"/>
		<add key="UserDataPath" value=""/>
		<add key="IsClearCacheWhenQuit" value="Fasle"/>
		<add key="IsUseFixedVersion"/>
		<add key="StartPathUrl" value="http://LsMESPad.v-liquid.com"/>
		<add key="ServerVersionInfoPath" value="http://LsMES.V-LIQUID.COM/WinformClient/latestFileInfo.xml"/>
		<add key="TimlyCheckUpdateFrequency" value="0"/>
		<add key="ConfigStartPathUrls" value="http://10.12.3.30:8016,https://10.12.3.30:8016/index.html#/erpInStock,http://10.12.3.30:8016/index.html#/printProductBn"/>
		<add key="StartCheckUpdate" value="True"/>
		<add key="PringName" value="TSC TE244"/>
		<add key="LableWidth" value="70"/>
		<add key="LableHeight" value="40"/>
		<add key="PrintType" value="2.0"/>
	</appSettings>
</configuration>